body {
  background-color: #1f2023;
  color: #dadada;
}

.header {
  display: flex;
  align-items: center;
}

.smore-image {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  margin-right: 10px; /* Spacing between the image and title */
}
